@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LatoBlack";
  src: url("../../public/Lato-Black.ttf");
}

@font-face {
  font-family: "LatoRegular";
  src: url("../../public/Lato-Regular.ttf");
}

@font-face {
  font-family: "RalewayMedium";
  src: url("../../public/Raleway-Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
